<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tr치fico Gij칩n</title>

    <!-- css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <!-- header -->
    <header id="site-header">
        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">Tr치fico Gij칩n</a>
                </div>

                <ul class="nav navbar-nav">
                    <li><a href="/events">Partes</a></li>
                    <li><a href="/events/create">Crear un parte</a></li>
                    <li><a href="/places">Cruces</a></li>
                    <li><a href="/places/create">Crear un cruce</a></li>
                </ul>
            </div>
        </div>
    </header>

    <!-- main -->
    <main id="site-main">
    <div class="container">
        <%- body %>
    </div>
    </main>

    <!-- footer -->
    <footer id="site-footer">
        Copyright &copy; 2016 Olympics
    </footer>

</body>
</html>
