<div class="jumbotron text-center">
    <h1>Tráfico Gijón</h1>

    <a href="/events" class="btn btn-lg btn-danger">Ver partes</a>
    <a href="/places" class="btn btn-lg btn-danger">Ver cruces</a>
</div>
